/* You can add global styles to this file, and also import other style files */
body{
    background-color: gray;
    margin-top: 20px;
    box-sizing: border-box;
}

.card{
    position:relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid transparent;
    border-radius: 1;
    margin-bottom: 30px;
}
.card-body{
    flex: 1 1 auto;
    /* flex-wrap: wrap; */
    padding: 1.5rem;
    /* flex-direction: row; */
    /* justify-content: center */
}
